# Modulo 19: Bases de datos

#### SQL Lite
Sistema de gestión de bases de datos relacionales

In [1]:
import sqlite3

In [4]:
conexion = sqlite3.connect("basededatos1.db") #extensión database   #connect conecta/crea una base de datos
conexion.close()

In [5]:
#Descargamos la herramienta DB browser for SQLite para visualizar el archivo

#### Creamos una nueva tabla en nuestra base de datos

In [7]:
conexion = sqlite3.connect("basededatos1.db")

In [8]:
cursor = conexion.cursor() #Crea un objeto para poder emplear SQL en nuestra base de datos

In [10]:
cursor.execute("create table PERSONAS (nombre TEXT, apellido1 TEXT, apellido2 TEXT, edad INTEGER)")

In [12]:
conexion.commit()

In [13]:
conexion.close()

#### Insertar una datos en nuesta tabla

In [14]:
conexion = sqlite3.connect("basededatos1.db")

In [15]:
cursor = conexion.cursor()

In [16]:
cursor.execute("INSERT INTO PERSONAS VALUES ('Antonio','Perez','Gomez',35)")

In [17]:
conexion.commit() #Para que ese insert lo guarde indefinidamente

In [18]:
conexion.close()

#### Insertar varios registros a la vez en nuestra tabla

In [19]:
conexion = sqlite3.connect("basededatos1.db")

In [20]:
cursor = conexion.cursor()

In [23]:
lista_personas = [('Pedro','Rodriguez','Perez',26),
                ('Maria','Lopez','Gomez',45),
                ('Luis Miguel','Garcia','Gomez',46)]

In [24]:
cursor.executemany("INSERT INTO PERSONAS VALUES (?,?,?,?)",lista_personas)

In [25]:
conexion.commit()

#### Consultar datos

In [27]:
conexion = sqlite3.connect("basededatos1.db")

In [28]:
cursor = conexion.cursor()

In [30]:
cursor.execute("SELECT * FROM PERSONAS")

In [31]:
personas = cursor.fetchall()

In [34]:
for persona in personas:
    print (persona)

('Antonio', 'Perez', 'Gomez', 35)
('Pedro', 'Rodriguez', 'Perez', 26)
('Maria', 'Lopez', 'Gomez', 45)
('Luis Miguel', 'Garcia', 'Gomez', 46)

In [35]:
conexion.close()

In [36]:
#No es necesario hacer el commit porque ha sido solo una consulta
# No hemos hecho ninguna acción sobre la tabla

#### Consultar datos con where

In [37]:
conexion = sqlite3.connect("basededatos1.db")

In [38]:
cursor = conexion.cursor()

In [39]:
cursor.execute("SELECT * FROM PERSONAS WHERE edad > 40")

In [40]:
personas_mayores40 = cursor.fetchall()

In [41]:
for persona in personas_mayores40:
    print(persona)

('Maria', 'Lopez', 'Gomez', 45)
('Luis Miguel', 'Garcia', 'Gomez', 46)

In [42]:
conexion.close()

#### Ordenar datos

In [43]:
conexion = sqlite3.connect("basededatos1.db")

In [44]:
cursor = conexion.cursor()

In [45]:
cursor.execute("SELECT * from PERSONAS order by Edad")

In [46]:
personas_edad = cursor.fetchall()

In [47]:
for i in personas_edad:
    print(i)

('Pedro', 'Rodriguez', 'Perez', 26)
('Antonio', 'Perez', 'Gomez', 35)
('Maria', 'Lopez', 'Gomez', 45)
('Luis Miguel', 'Garcia', 'Gomez', 46)

In [48]:
conexion.close()

#### Borrar datos

In [49]:
conexion = sqlite3.connect("basededatos1.db")
cursor = conexion.cursor()

In [50]:
cursor.execute("DELETE FROM PERSONAS WHERE nombre = 'Luis Miguel'")

In [54]:
conexion.commit()

In [55]:
conexion.close()

#### Actualizar datos en nuesta tabla

In [59]:
conexion = sqlite3.connect("basededatos1.db")

In [60]:
cursor = conexion.cursor()

In [61]:
cursor.execute("UPDATE PERSONAS SET edad = 30 where nombre = 'Antonio'")

In [63]:
conexion.commit()

In [64]:
conexion.close()

### Ejercicio:

1. Crear una base de datos "basededatos.db"
2. Crear una tabla "productos" con 3 campos
    * id: Identificador del producto
    * nombre: nombre del producto
    * percio: percio del producto
3. Insertar 3 procutos a la tabla:
    * 1,Impresora,300
    * 2,Raton,30
    * 3,Ordenador, 600
    
Consultar los productos 

Cerrar la base de datos

In [65]:
import sqlite3 
conexion = sqlite3.connect("basededatos.db")

In [66]:
lista_productos = [(1,"Impresora",300),
                  (2,"Raton",20),
                  (3,"ordenador",600)]

In [69]:
cursor = conexion.cursor()

In [70]:
cursor.execute("CREATE TABLE PRODUCTOS ('id' integer, 'nombre' TEXT, 'Precio' INTEGER)")

In [72]:
cursor.executemany("INSERT INTO PRODUCTOS VALUES (?,?,?)",lista_productos)

In [75]:
conexion.commit()

In [76]:
productos = cursor.execute("SELECT * from PRODUCTOS")

In [77]:
for producto in productos:
    print(producto)

(1, 'Impresora', 300)
(2, 'Raton', 20)
(3, 'ordenador', 600)

In [78]:
conexion.close()