# Modulo 28: Ejercicios

### Ejercicio 1

Tenemos 3 clases, "clase1", "clase2" y "clase3"

Vamos a generar un número aleatorio de alumnos por clase


Utilizar el indice de la serie creada para saber el numero de alumnas de la clase2

In [1]:
import pandas as pd
import numpy as np

In [2]:
indice = ['clase1','clase2','clase3']

In [3]:
valores = np.random.randint(1,30,3)

In [4]:
valores

array([14, 24, 15])

In [5]:
serie = pd.Series(valores,index=indice)

In [6]:
serie['clase2']

24

## Enunciado 2

* Dadoel fichero excel adjuntado, copiar los datos en el cortapapeles
* Crear un dataframe "datos" con esos datos
* Mostrar por pantalla todos los datos
* Mostrar todos los nombres de las columnas del dataframe
* Mostrar la primera fila del dataframe
* Mostrar todas las filas pero solos las columnas "contienente" y "Población"
* Mostrar las primeras 3 filas del dataframe
* Mostrar las últimas 2 columnas del dataframe

In [16]:
import os
import pandas as pd

In [11]:
os.getcwd()

'/Users/alejandrocasares/Desktop/Curso-Python'

In [14]:
os.chdir('/Users/alejandrocasares/Desktop/Curso-Python/Modulo 28 - Ejercicios (Recursos)')

In [15]:
os.getcwd()

'/Users/alejandrocasares/Desktop/Curso-Python/Modulo 28 - Ejercicios (Recursos)'

In [17]:
os.listdir()

['.DS_Store', 'poblacion2.csv', 'poblacion.xlsx', 'poblacion3.txt']

In [23]:
datos = pd.read_csv("poblacion2.csv",sep = ';')

In [24]:
type(datos)

pandas.core.frame.DataFrame

In [25]:
datos

,Continente,Densidad,Superficie,Población,País más poblado,Ciudad más poblada
0,Asia,"86,88",43.810.000,4.677.291.000,China (1.392.240.000),Tokio (35.682.000)
1,África,"32,7",30.370.000,1.110.020.000,Nigeria (191.205.000),El Cairo (16.794.000)
2,Europa,70,10.180.000,801.000.000,Rusia (112.000.000),Moscú (18.940.000)
3,América,"23,5",42.330.000,1.094.215.000,Estados Unidos (330.028.000),Ciudad de México (22.577.000)
4,Oceanía,"4,25",9.008.500,40.201.000,Australia (27.240.000),Sídney (6.550.000)
5,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
datos.columns

Index(['Continente', 'Densidad', 'Superficie', 'Población', 'País más poblado',
       'Ciudad más poblada'],
      dtype='object')

In [31]:
datos.head(1)

,Continente,Densidad,Superficie,Población,País más poblado,Ciudad más poblada
0,Asia,"86,88",43.810.000,4.677.291.000,China (1.392.240.000),Tokio (35.682.000)

In [38]:
datos[['Continente','Población']]

  Continente      Población
0       Asia  4.677.291.000
1     África  1.110.020.000
2     Europa    801.000.000
3    América  1.094.215.000
4    Oceanía     40.201.000
5        NaN            NaN
6        NaN            NaN
7        NaN            NaN
8        NaN            NaN

In [39]:
datos.head(3)

,Continente,Densidad,Superficie,Población,País más poblado,Ciudad más poblada
0,Asia,"86,88",43.810.000,4.677.291.000,China (1.392.240.000),Tokio (35.682.000)
1,África,"32,7",30.370.000,1.110.020.000,Nigeria (191.205.000),El Cairo (16.794.000)
2,Europa,70,10.180.000,801.000.000,Rusia (112.000.000),Moscú (18.940.000)

In [42]:
datos.tail(1)

  Continente Densidad Superficie Población País más poblado Ciudad más poblada
8        NaN      NaN        NaN       NaN              NaN                NaN

In [43]:
### Otra solución (la del curso), abriendo el Excel y copiando la tabla

In [44]:
datos2 = pd.read_clipboard()

In [45]:
datos2

,Continente,Densidad,Superficie,Población,País más poblado,Ciudad más poblada
0,Asia,"86,88",43.810.000,4.677.291.000,China (1.392.240.000),Tokio (35.682.000)
1,África,"32,7",30.370.000,1.110.020.000,Nigeria (191.205.000),El Cairo (16.794.000)
2,Europa,70,10.180.000,801.000.000,Rusia (112.000.000),Moscú (18.940.000)
3,América,"23,5",42.330.000,1.094.215.000,Estados Unidos (330.028.000),Ciudad de México (22.577.000)
4,Oceanía,"4,25",9.008.500,40.201.000,Australia (27.240.000),Sídney (6.550.000)