# Modulo 10: Ejercicios

### Enunciado 1

Dada la siguiente lista = [1,2,5,25,33,56,75,21,56,89,43,13,62,24]

Mostrar mediante el metodo print y el operador in, si el numero 21 está en la lista

In [1]:
lista = [1,2,5,25,33,56,75,21,56,89,43,13,62,24]

In [2]:
if (21 in lista):
    print("Si, el número 21 está en la lista")
else:
    print("No, el número 21 no está en la lista")

Si, el número 21 está en la lista

### Enunciado 2

1. Crear una variable llamada tupla que sea una tupla de los siguientes nombres: Antonio, Pedro y María

2. Mostrar el valor de la variable "tupla"

3. Recoger un dato por teclado y almacenarlo en la variable "dato"

4. Si el valor de "dato" etá dentro de los valores de la variable "tupla", mostrar "Si"

5. Si el valor de "dato" no etá dentro de los valores de la variable "tupla", mostrar "No"

In [6]:
tupla = ("Antonio","Pedro","Maria")

In [7]:
tupla

('Antonio', 'Pedro', 'Maria')

In [10]:
print("Por favor, escriba un nombre:")
dato = input()
if dato in tupla:
    print("Si")
else:
    print("No")

Por favor, escriba un nombre:
Antonio
Si

### Enunciado 3

1. Crear una variable "conjunto" que sea un conjunto de los valores 1,2,3,4 y 5
2. Mostrar el valor de la variable "conjunto"
3. Añadir los números 6,7,8 y 9 a la variable "conjunto"
4. Mostrar el valor de la variable "conjunto"
5. Eliminar el numero 9 de la variable conjunto
6. Mostrar el valor de la variable "conjunto"
7. Verificar que el tipo de dato de la variable "conjunto"

In [26]:
conjunto = {1,2,3,4,5}

In [27]:
conjunto

{1, 2, 3, 4, 5}

In [28]:
añadir = (6,7,8,9)

In [29]:
for i in añadir:
    conjunto.add(i)

In [30]:
conjunto

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [31]:
conjunto.remove(9)

In [32]:
conjunto

{1, 2, 3, 4, 5, 6, 7, 8}

In [33]:
type(conjunto)

set

### Enunciado 4

1. Crear una variable "diccionario" con los siguientes pares de valores:
    clave = uno valor = one
    clave = dos valor = two
    clave = tres valor = three
2. Mostrar el valor de la variable diccionario
3. Añadir un nuevo elemento al diccionario: clave = cuatro, valor = four
4. Mostrar el valor de la variable diccionario
5. Recoger un valor introducido por teclado y almacenarlo en "dato"
6. Utilizar "dato" como clave del diccionario para recuperar su valor

In [34]:
diccionario = {"uno":"one","dos":"two","tres":"three"}

In [35]:
diccionario

{'uno': 'one', 'dos': 'two', 'tres': 'three'}

In [36]:
diccionario["cuatro"]="four"

In [37]:
diccionario

{'uno': 'one', 'dos': 'two', 'tres': 'three', 'cuatro': 'four'}

In [38]:
print("Por favor seleccione y escriba un número (uno, dos, tres, cuatro):")
dato = input()
print(diccionario[dato])

Por favor seleccione y escriba un número (uno, dos, tres, cuatro):
uno
one