## Módulo 3: Variables y Números

In [1]:
Numero = 5

In [2]:
Numero

5

In [3]:
cadena = "Hola Mundo"

In [4]:
cadena

'Hola Mundo'

### Condiciones

El nombre de las variables:
* Siempre debe empezar por una letra o un guión bajo, núnca por un número
* Es sensible a mayúsculas y minúsculas: "Numero" es distinto de "numero"
* Las variables que son cadenas de texto se pueden concatenar, si las variables son numéricas no se pueden concatenar, pero sí se pueden combinar mediante operaciones matemáticas

La función "type" nos dirá el tipo de variable

In [5]:
numero = 5
numero2 = 4
numero_suma = numero + numero2

In [6]:
numero_suma

9

In [7]:
cadena1 = "Hola "
cadena2 = "mundo"

cadena3 = cadena1 + cadena2
cadena3

'Hola mundo'

In [8]:
type (numero)

int

In [9]:
type(cadena)

str

In [10]:
numerodecimal = 3.7
type(numerodecimal)

float

#### Conversión de tipos de datos

In [25]:
numero = 5
cadena = str(numero)

In [26]:
cadena

'5'

In [27]:
type(cadena)

str

In [28]:
type(numero)

int

In [29]:
cadena2 = '24'

In [30]:
numero2 = int(cadena2)

In [31]:
numero2

24

In [32]:
numero + numero2

29

In [38]:
cadena3 = '23.7'

In [39]:
numero3 = int(cadena3)

ValueError: invalid literal for int() with base 10: '23.7'

In [40]:
#Da error porque cadena3 es decimal, no un entero

In [41]:
numero3 = float(cadena3)

In [42]:
numero3

23.7

In [43]:
type(numero3)

float